{
  "plugins": [
    "prettier-plugin-blade",
    "@prettier/plugin-php"
  ],

  "printWidth": 100,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 4,

  "overrides": [
    {
      "files": [
        "*.blade.php"
      ],
      "options": {
        "parser": "blade",
        "bladePhpFormatting": "safe",
        "bladeDirectiveArgSpacing": "preserve",
        "bladeKeepHeadAndBodyAtRoot": false
      }
    }
  ]
}
